# Default ignored files
/shelf/
/workspace.xml

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/out/production/EmpWageCase/com/*
/out/production/Practice_Problems/com/*
/out/production/EmpWageCase/com/*
*iml
/Class Problems/out/production/untitled/com/blz/*
/EmpWageCase/out/production/EmpWageCase/com/geometry/*